.keyboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 500px;
    padding: 25px 30px;
    border: 1px solid black;
}

.textInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    max-width: 850px;
    height: 50px;
    margin-bottom: 25px;
    padding: 5px 7px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 22px;
    background-color: #EAEAEA;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blueBorderButton {
    max-width: 165px;
    height: 60px;
    margin: 5px;
    padding: 7px 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    transition: all ease 0.45s;
}

.blueBorderButton:hover {
    background-color: blue;
    color: white;
    border: none;
    transform: scale(1.05);
}

.blueBorderButton:active {
    background-color: rgb(0, 0, 126);
    color: white;
    border: none;
    transform: scale(1);
}

.bottomButtonsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.spaceBtn {
    width: 400px;
    height: 60px;
    margin-top: 15px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    background-color: #D7D7D7;
    cursor: pointer;
    transition: all ease 0.45s;
}

.spaceBtn:hover {
    background-color: blue;
    border: none;
    transform: scale(1.05);
}

.spaceBtn:active {
    transform: scale(1);
}

.blueBorderButtonContainer {
    margin-top: 15px;
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
    .keyboardContainer {
        padding: 20px 25px;
    }

    .blueBorderButton {
        height: 50px;
    }

    .bottomButtonsContainer {
        max-width: 500px;
    }

    .spaceBtn {
        width: 400px;
        height: 50px;
        margin-top: 15px;
    }

    .blueBorderButtonContainer {
        margin-top: 15px;
    }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
    .keyboardContainer {
        padding: 18px 23px;
    }

    .textInputContainer {
        margin-bottom: 23px;
    }

    .blueBorderButton {
        height: 45px;
    }

    .bottomButtonsContainer {
        max-width: 500px;
    }

    .spaceBtn {
        width: 400px;
        height: 45px;
        margin-top: 13px;
    }

    .blueBorderButtonContainer {
        margin-top: 13px;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .keyboardContainer {
        padding: 18px 23px;
    }

    .textInputContainer {
        margin-bottom: 20px;
    }

    .blueBorderButton {
        height: 40px;
    }

    .bottomButtonsContainer {
        max-width: 500px;
    }

    .spaceBtn {
        width: 400px;
        height: 40px;
        margin-top: 10px;
    }

    .blueBorderButtonContainer {
        margin-top: 10px;
    }
}

@media screen and (min-width: 430px) and (max-width: 639px) {
    .keyboardContainer {
        padding: 16px 20px;
    }

    .textInputContainer {
        min-width: 350px;
        height: 40px;
        margin-bottom: 18px;
    }

    .blueBorderButton {
        height: 35px;
        font-size: 16px;
        font-weight: 600;
    }

    .bottomButtonsContainer {
        max-width: 350px;
    }

    .spaceBtn {
        width: 400px;
        height: 38px;
        margin-top: 10px;
    }

    .blueBorderButtonContainer {
        margin-top: 10px;
    }
}

@media screen and (min-width: 360px) and (max-width: 429px) {
    .keyboardContainer {
        padding: 14px 16px;
    }

    .textInputContainer {
        min-width: 280px;
        height: 40px;
        margin-bottom: 15px;
    }

    .blueBorderButton {
        height: 33px;
        font-size: 12px;
        font-weight: 600;
    }

    .bottomButtonsContainer {
        max-width: 300px;
    }

    .spaceBtn {
        width: 250px;
        height: 33px;
        margin-top: 8px;
    }

    .blueBorderButtonContainer {
        margin-top: 8px;
    }
}