.keyboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 500px;
    padding: 25px 30px;
    border: 1px solid black;
}

.textInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    max-width: 850px;
    height: 50px;
    margin-bottom: 25px;
    padding: 5px 7px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 22px;
    background-color: #EAEAEA;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.changeLangBtn {
    max-width: 165px;
    height: 60px;
    margin: 5px;
    padding: 7px 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    transition: all ease 0.45s;
}

.changeLangBtn:hover {
    background-color: blue;
    color: white;
    border: none;
    transform: scale(1.05);
}

.changeLangBtn:active {
    background-color: rgb(0, 0, 126);
    color: white;
    border: none;
    transform: scale(1);
}

.spaceBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    margin-top: 15px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    background-color: #D7D7D7;
    cursor: pointer;
    transition: all ease 0.45s;
}

.spaceBtn:hover {
    background-color: blue;
    border: none;
    transform: scale(1.05);
}

.spaceBtn:active {
    transform: scale(1);
}